#map {
  height: 100vh;
}

.nearest-station-icon {
  background: orange;
  border-radius: 50%;
  border: 3px solid gold;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  font-size: 20px;
}
