html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100%;
}

/* ルート表示ボタン */
#routeToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;

  padding: 8px 12px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

/* 徒歩時間表示 */
#walkTime {
  position: absolute;
  top: 50px;      /* ← ボタンの下 */
  right: 10px;
  z-index: 1000;

  padding: 6px 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* 押したとき */
#routeToggle:hover {
  background: #f0f0f0;
}
